---
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
</head>
<body>
    <main>
        <slot/>
    </main>
    <footer>
        <p>Made by <a href="https://ehret.me">Siegfried Ehret</a>. <a href="github.com/SiegfriedEhret/vouivre/">⌨️ code</a>.</p>
    </footer>
    <script data-goatcounter="https://vouivre.goatcounter.com/count"
            async src="/analytics.js"></script>
</body>
</html>

<style>
    main, footer {
        padding: var(--base) var(--babase);
    }
    footer {
        text-align: center;
    }
</style>